schema/draft/hemodialysis.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- HeMX version 0.94b converted from DTD  2015-09-09 -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified"
	   targetNamespace="http://www.medxml.net/MML/v4/ContentModule/Hemodialysis/1.0"
  xmlns:mmlHd="http://www.medxml.net/MML/v4/ContentModule/Hemodialysis/1.0"
  xmlns:mmlFc="http://www.medxml.net/MML/v4/SharedComponent/Facility/1.0"
  xmlns:mmlPi="http://www.medxml.net/MML/v4/ContentModule/PatientInfo/1.0"
  xmlns:mmlCm="http://www.medxml.net/MML/v4/SharedComponent/Common/1.0"
  xmlns:vc="http://www.w3.org/2007/XMLSchema-versioning" vc:minVersion="1.1">
  
  <xs:import namespace="http://www.medxml.net/MML/v4/SharedComponent/Facility/1.0" schemaLocation="facility.xsd"/>
  <xs:import namespace="http://www.medxml.net/MML/v4/ContentModule/PatientInfo/1.0" schemaLocation="patientinfo.xsd"/>
  <xs:import namespace="http://www.medxml.net/MML/v4/SharedComponent/Common/1.0" schemaLocation="common.xsd"/>

  <xs:element name="HemoDialysisModule">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="mmlHd:HemoDialysis"/>
        <xs:element ref="mmlHd:HeMX"/>
      </xs:sequence>
      <xs:attribute name="version" type="xs:string" use="required"/>
      <xs:attribute name="createDate" type="xs:dateTime" use="required"/>
    </xs:complexType>
  </xs:element>

  <xs:element name="HemoDialysis">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="1" maxOccurs="1" ref="mmlFc:Facility"/>
        <xs:element minOccurs="1" maxOccurs="1" ref="mmlPi:PatientModule"/>
        <xs:element name="note" minOccurs="0" maxOccurs="1" type="xs:string"/>
        <xs:element minOccurs="0" maxOccurs="1" ref="mmlHd:HDHistorySection"/>
        <xs:element minOccurs="0" maxOccurs="1" ref="mmlHd:HDOrderSection"/>
        <xs:element minOccurs="0" maxOccurs="1" ref="mmlHd:HDProgressSection"/>
        <xs:element minOccurs="0" maxOccurs="1" ref="mmlHd:HDTestResultSection"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="HDHistorySection">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="mmlHd:hdIntroduction"/>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="mmlHd:bloodAccess"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="hdIntroduction">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="mmlHd:hdDiagnosis"/>
        <xs:element name="hdIntroDate" minOccurs="0" maxOccurs="1" type="xs:date"/>
        <xs:element minOccurs="1" maxOccurs="1" ref="mmlFc:Facility"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="hdDiagnosis">
    <xs:complexType>
      <xs:simpleContent>
        <xs:extension base="xs:string">
          <xs:attribute name="code" type="xs:string" use="optional"/>
          <xs:attribute name="system" type="xs:string" use="required"/>
        </xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>

  <xs:element name="bloodAccess">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="dateMade" type="xs:date"/>
        <xs:element minOccurs="0" maxOccurs="1" name="dateFirstUse" type="xs:date"/>
        <xs:element minOccurs="0" maxOccurs="1" name="dateEnd" type="xs:date"/>
        <xs:element minOccurs="0" maxOccurs="1" ref="mmlHd:location"/>
      </xs:sequence>
      <xs:attribute name="baStatus" type="xs:string" use="optional"/>
    </xs:complexType>
  </xs:element>

  <xs:element name="dateMade" type="xs:string"/>
  <xs:element name="dateFirstUse" type="xs:string"/>
  <xs:element name="dateEnd" type="xs:string"/>

  <xs:element name="location">
    <xs:complexType>
      <xs:simpleContent>
        <xs:extension base="xs:string">
          <xs:attribute name="code" use="optional"/>
          <xs:attribute name="tableId" use="required"/>
        </xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>

  <xs:element name="HDOrderSection">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="mmlHd:hdOrders"/>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="mmlHd:hdDailyOrder"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
 
  <xs:element name="hdOrders">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="1" maxOccurs="unbounded" ref="mmlHd:orderGroups"/>
      </xs:sequence>
      <xs:attribute name="orderStatus" type="xs:string" use="required"/>
      <xs:attribute name="dateOrdered" type="xs:date" use="optional"/>
      <xs:attribute name="dateEffective" type="xs:date" use="optional"/>
    </xs:complexType>
  </xs:element>

  <xs:element name="orderGroups">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" ref="mmlHd:effectiveDays"/>
        <xs:element minOccurs="0" maxOccurs="1" ref="mmlHd:timeShift"/>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="mmlHd:hdMethod"/>
        <xs:element minOccurs="0" maxOccurs="1" ref="mmlHd:dryWeight"/>
        <xs:element minOccurs="0" maxOccurs="1" ref="mmlHd:weightCorrection"/>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="mmlHd:bloodFlow"/>
        <xs:element minOccurs="0" maxOccurs="1" ref="mmlHd:dialyser"/>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="mmlHd:dialysate"/>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="mmlHd:dialysateFlow"/>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="mmlHd:dialysateTemp"/>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="mmlHd:needle"/>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="mmlHd:medication"/>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="mmlHd:injection"/>
        <xs:element minOccurs="0" maxOccurs="1" name="note" type="xs:string"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  
  <xs:element name="effectiveDays">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="unbounded" name="weekday" type="xs:string"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="timeShift">
    <xs:complexType>
      <xs:simpleContent>
        <xs:extension base="xs:string">
          <xs:attribute name="code" type="xs:string" use="optional"/>
          <xs:attribute name="tableId" type="xs:string" use="required"/>
        </xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>

  <xs:element name="hdMethod">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="mmlHd:hdMethodName"/>
        <xs:element minOccurs="0" ref="mmlHd:timeHdStart"/>
        <xs:element minOccurs="0" ref="mmlHd:timeHdEnd"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="hdMethodName">
    <xs:complexType>
      <xs:simpleContent>
        <xs:extension base="xs:string">
          <xs:attribute name="code" type="xs:string" use="optional"/>
          <xs:attribute name="tableId" type="xs:string" use="required"/>
        </xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>
 
  <xs:element name="timeHdStart">
    <xs:complexType>
      <xs:simpleContent>
        <xs:extension base="xs:duration">
          <xs:attribute name="timeDirection" type="xs:string" use="required"/>          
        </xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>

  <xs:element name="timeHdEnd">
    <xs:complexType>
      <xs:simpleContent>
        <xs:extension base="xs:duration">
          <xs:attribute name="timeDirection" use="required"/>     
        </xs:extension>
      </xs:simpleContent>
     </xs:complexType>
  </xs:element>

  <xs:element name="dryWeight">
    <xs:complexType>
      <xs:simpleContent>
        <xs:extension base="xs:decimal">
          <xs:attribute name="unit" use="optional" default="kg"/>
        </xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>

  <xs:element name="weightCorrection">
    <xs:complexType>
      <xs:simpleContent>
        <xs:extension base="xs:decimal">
          <xs:attribute name="unit" use="optional" default="kg"/>
          <xs:attribute name="cnote" use="optional"/>         
        </xs:extension>
      </xs:simpleContent>
     </xs:complexType>
  </xs:element>

  <xs:element name="bloodFlow">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="1" maxOccurs="1" ref="mmlHd:flowRate"/>
        <xs:element minOccurs="0" maxOccurs="1" ref="mmlHd:timeHdStart"/>
        <xs:element minOccurs="0" maxOccurs="1" ref="mmlHd:timeHdEnd"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="flowRate">
    <xs:complexType>
      <xs:simpleContent>
        <xs:extension base="xs:decimal">
          <xs:attribute name="unit" type="xs:string" use="optional" default="ml/min"/>          
        </xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="dialyser">
    <xs:complexType>
      <xs:simpleContent>
        <xs:extension base="xs:string">
          <xs:attribute name="code" type="xs:string" use="optional"/>
          <xs:attribute name="type" type="xs:string" use="optional"/>
          <xs:attribute name="membraneArea" type="xs:decimal" use="optional"/>
          <xs:attribute name="unit" use="optional" default="m2"/>         
        </xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>

  <xs:element name="dialysate">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="1" maxOccurs="1" ref="mmlHd:dialysateName"/>
        <xs:element minOccurs="0" maxOccurs="1" ref="mmlHd:timeHdStart"/>
        <xs:element minOccurs="0" maxOccurs="1" ref="mmlHd:timeHdEnd"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="dialysateName">
    <xs:complexType>
      <xs:simpleContent>
        <xs:extension base="xs:string">
          <xs:attribute name="code" type="xs:string" use="optional"/>
          <xs:attribute name="type" type="xs:string" use="optional"/>
          <xs:attribute name="modification" type="xs:string" use="optional"/>         
        </xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>

  <xs:element name="dialysateFlow">
    <xs:complexType>
      <xs:sequence>
        <xs:element  minOccurs="1" maxOccurs="1" ref="mmlHd:flowRate"/>
        <xs:element minOccurs="0" maxOccurs="1" ref="mmlHd:timeHdStart"/>
        <xs:element minOccurs="0" maxOccurs="1" ref="mmlHd:timeHdEnd"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  
  <xs:element name="dialysateTemp">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="1" maxOccurs="1" ref="mmlHd:dialysateTempValue"/>
        <xs:element minOccurs="0" maxOccurs="1" ref="mmlHd:timeHdStart"/>
        <xs:element minOccurs="0" ref="mmlHd:timeHdEnd"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  
  <xs:element name="dialysateTempValue">
    <xs:complexType>
      <xs:simpleContent>
        <xs:extension base="xs:decimal">
          <xs:attribute name="unit" type="xs:string" default="C" use="optional"/>
        </xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>
 
  <xs:element name="needle">
    <xs:complexType>
      <xs:simpleContent>
        <xs:extension base="xs:string">
          <xs:attribute name="code" type="xs:string" use="optional"/>
          <xs:attribute name="type" type="xs:string" use="optional"/>
          <xs:attribute name="position" type="xs:string" use="optional"/>
        </xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>

  <xs:element name="medication">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" ref="mmlHd:drugName"/>
        <xs:element minOccurs="0" maxOccurs="1" ref="mmlHd:dose"/>
        <xs:element minOccurs="0" maxOccurs="1" ref="mmlHd:timeHd"/>
        <xs:element minOccurs="0" maxOccurs="1" name="note" type="xs:string"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="drugName">
    <xs:complexType>
      <xs:simpleContent>
        <xs:extension base="xs:string">
          <xs:attribute name="code"/>
          <xs:attribute name="type" use="required"/>         
        </xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>

  <xs:element name="dose">
    <xs:complexType>
      <xs:simpleContent>
        <xs:extension base="xs:decimal">
          <xs:attribute name="unit" type="xs:string" use="optional"/>          
        </xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>

  <xs:element name="timeHd">
    <xs:complexType>
      <xs:simpleContent>
        <xs:extension base="xs:duration">
          <xs:attribute name="timeDirection" type="xs:string" use="required"/>
        </xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>

  <xs:element name="injection">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" ref="mmlHd:drugName"/>
        <xs:element minOccurs="0" maxOccurs="1" ref="mmlHd:dose"/>
        <xs:element minOccurs="0" maxOccurs="1" ref="mmlHd:timeHdStart"/>
        <xs:element minOccurs="0" maxOccurs="1" ref="mmlHd:timeHdEnd"/>
        <xs:element minOccurs="0" maxOccurs="1" ref="mmlHd:routeName"/>
        <xs:element minOccurs="0" maxOccurs="1" name="note" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="routeName">
    <xs:complexType>
      <xs:simpleContent>
        <xs:extension base="xs:string">
          <xs:attribute name="code" type="xs:string" use="optional"/>
          <xs:attribute name="tableId" type="xs:string" use="required"/>          
        </xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>

  <xs:element name="hdDailyOrder">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" ref="mmlHd:timeShift"/>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="mmlHd:hdMethod"/>
        <xs:element minOccurs="0" ref="mmlHd:targetWeight"/>
        <xs:element minOccurs="0" ref="mmlHd:targetUF"/>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="mmlHd:ufrPlan"/>
        <xs:element minOccurs="0" ref="mmlHd:weightCorrection"/>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="mmlHd:bloodFlow"/>
        <xs:element minOccurs="0" ref="mmlHd:dialyser"/>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="mmlHd:dialysate"/>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="mmlHd:dialysateFlow"/>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="mmlHd:dialysateTemp"/>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="mmlHd:needle"/>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="mmlHd:medication"/>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="mmlHd:injection"/>
        <xs:element minOccurs="0" maxOccurs="1" name="note" type="xs:string"/>
      </xs:sequence>
      <xs:attributeGroup ref="mmlHd:attlist.hdDailyOrder"/>
    </xs:complexType>
  </xs:element>

  <xs:attributeGroup name="attlist.hdDailyOrder">
    <xs:attribute name="orderDateTime"/>
    <xs:attribute name="dateEffective"/>
  </xs:attributeGroup>

  <xs:element name="targetWeight">
    <xs:complexType mixed="true">
      <xs:attributeGroup ref="mmlHd:attlist.targetWeight"/>
    </xs:complexType>
  </xs:element>
  <xs:attributeGroup name="attlist.targetWeight">
    <xs:attribute name="unit" default="kg"/>
  </xs:attributeGroup>
  <xs:element name="targetUF">
    <xs:complexType mixed="true">
      <xs:attributeGroup ref="mmlHd:attlist.targetUF"/>
    </xs:complexType>
  </xs:element>
  <xs:attributeGroup name="attlist.targetUF">
    <xs:attribute name="unit" default="kg"/>
  </xs:attributeGroup>
  <xs:element name="ufrPlan">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="mmlHd:ufRate"/>
        <xs:element minOccurs="0" ref="mmlHd:timeHdStart"/>
        <xs:element minOccurs="0" ref="mmlHd:timeHdEnd"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ufRate">
    <xs:complexType mixed="true">
      <xs:attributeGroup ref="mmlHd:attlist.ufRate"/>
    </xs:complexType>
  </xs:element>
  <xs:attributeGroup name="attlist.ufRate">
    <xs:attribute name="unit" default="kg/h"/>
  </xs:attributeGroup>
  <xs:element name="HDProgressSection">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="mmlHd:dailyHDRecord"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="dailyHDRecord">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="mmlHd:hdMethodRecord"/>
        <xs:element minOccurs="0" ref="mmlHd:dryWeight"/>
        <xs:element minOccurs="0" ref="mmlHd:preWeight"/>
        <xs:element minOccurs="0" ref="mmlHd:postWeight"/>
        <xs:element minOccurs="0" ref="mmlHd:totalUF"/>
        <xs:element minOccurs="0" ref="mmlHd:weightCorrection"/>
        <xs:element minOccurs="0" ref="mmlHd:dialyser"/>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="mmlHd:dialysate"/>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="mmlHd:needle"/>
        <xs:element minOccurs="0" ref="mmlHd:hdMachine"/>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="mmlHd:observation"/>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="mmlHd:medication"/>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="mmlHd:injection"/>
        <xs:element minOccurs="0" ref="mmlHd:note"/>
      </xs:sequence>
      <xs:attributeGroup ref="mmlHd:attlist.dailyHDRecord"/>
    </xs:complexType>
  </xs:element>
  <xs:attributeGroup name="attlist.dailyHDRecord">
    <xs:attribute name="calendarDate"/>
    <xs:attribute name="serialNumber"/>
  </xs:attributeGroup>
  <xs:element name="hdMethodRecord">
    <xs:complexType mixed="true">
      <xs:attributeGroup ref="mmlHd:attlist.hdMethodRecord"/>
    </xs:complexType>
  </xs:element>
  <xs:attributeGroup name="attlist.hdMethodRecord">
    <xs:attribute name="code"/>
    <xs:attribute name="tableId"/>
    <xs:attribute name="startDateTime"/>
    <xs:attribute name="endDateTime"/>
  </xs:attributeGroup>
  <xs:element name="preWeight">
    <xs:complexType mixed="true">
      <xs:attributeGroup ref="mmlHd:attlist.preWeight"/>
    </xs:complexType>
  </xs:element>
  <xs:attributeGroup name="attlist.preWeight">
    <xs:attribute name="unit" default="kg"/>
  </xs:attributeGroup>
  <xs:element name="postWeight">
    <xs:complexType mixed="true">
      <xs:attributeGroup ref="mmlHd:attlist.postWeight"/>
    </xs:complexType>
  </xs:element>
  <xs:attributeGroup name="attlist.postWeight">
    <xs:attribute name="unit" default="kg"/>
  </xs:attributeGroup>
  <xs:element name="totalUF">
    <xs:complexType mixed="true">
      <xs:attributeGroup ref="mmlHd:attlist.totalUF"/>
    </xs:complexType>
  </xs:element>
  <xs:attributeGroup name="attlist.totalUF">
    <xs:attribute name="unit" default="kg"/>
  </xs:attributeGroup>
  <xs:element name="hdMachine">
    <xs:complexType mixed="true">
      <xs:attributeGroup ref="mmlHd:attlist.hdMachine"/>
    </xs:complexType>
  </xs:element>
  <xs:attributeGroup name="attlist.hdMachine">
    <xs:attribute name="code"/>
    <xs:attribute name="tableId"/>
  </xs:attributeGroup>
  <xs:element name="observation">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" ref="mmlHd:timeHd"/>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="mmlHd:observationItem"/>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="mmlHd:staffName"/>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="mmlHd:machineName"/>
        <xs:element minOccurs="0" ref="mmlHd:note"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="observationItem">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="mmlHd:obItemName"/>
        <xs:element minOccurs="0" ref="mmlHd:value"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="obItemName">
    <xs:complexType mixed="true">
      <xs:attributeGroup ref="mmlHd:attlist.obItemName"/>
    </xs:complexType>
  </xs:element>
  <xs:attributeGroup name="attlist.obItemName">
    <xs:attribute name="code"/>
    <xs:attribute name="tableId"/>
  </xs:attributeGroup>
  <xs:element name="value">
    <xs:complexType mixed="true">
      <xs:attributeGroup ref="mmlHd:attlist.value"/>
    </xs:complexType>
  </xs:element>
  <xs:attributeGroup name="attlist.value">
    <xs:attribute name="unit"/>
  </xs:attributeGroup>
  <xs:element name="staffName">
    <xs:complexType mixed="true">
      <xs:attributeGroup ref="mmlHd:attlist.staffName"/>
    </xs:complexType>
  </xs:element>
  <xs:attributeGroup name="attlist.staffName">
    <xs:attribute name="code"/>
    <xs:attribute name="type"/>
  </xs:attributeGroup>
  <xs:element name="machineName">
    <xs:complexType mixed="true">
      <xs:attributeGroup ref="mmlHd:attlist.machineName"/>
    </xs:complexType>
  </xs:element>
  <xs:attributeGroup name="attlist.machineName">
    <xs:attribute name="code"/>
    <xs:attribute name="tableId"/>
  </xs:attributeGroup>
  <xs:element name="HDTestResultSection">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="mmlHd:testResultItem"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="testResultItem">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" ref="mmlHd:testCondition"/>
        <xs:element minOccurs="0" ref="mmlHd:timeHd"/>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="mmlHd:testItemGroup"/>
      </xs:sequence>
      <xs:attributeGroup ref="mmlHd:attlist.testResultItem"/>
    </xs:complexType>
  </xs:element>
  <xs:attributeGroup name="attlist.testResultItem">
    <xs:attribute name="calendarDate"/>
  </xs:attributeGroup>
  <xs:element name="testCondition">
    <xs:complexType mixed="true">
      <xs:attributeGroup ref="mmlHd:attlist.testCondition"/>
    </xs:complexType>
  </xs:element>
  <xs:attributeGroup name="attlist.testCondition">
    <xs:attribute name="code"/>
    <xs:attribute name="tableId"/>
  </xs:attributeGroup>
  <xs:element name="testItemGroup">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" ref="mmlHd:testName"/>
        <xs:element minOccurs="0" ref="mmlHd:value"/>
        <xs:element minOccurs="0" ref="mmlHd:note"/>
        <xs:element minOccurs="0" ref="mmlHd:extRef"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="testName">
    <xs:complexType mixed="true">
      <xs:attributeGroup ref="mmlHd:attlist.testName"/>
    </xs:complexType>
  </xs:element>
  <xs:attributeGroup name="attlist.testName">
    <xs:attribute name="code"/>
    <xs:attribute name="type"/>
  </xs:attributeGroup>
  <xs:element name="extRef">
    <xs:complexType>
      <xs:attributeGroup ref="mmlHd:attlist.extRef"/>
    </xs:complexType>
  </xs:element>
  <xs:attributeGroup name="attlist.extRef">
    <xs:attribute name="contentType"/>
    <xs:attribute name="medicalRole"/>
    <xs:attribute name="title"/>
    <xs:attribute name="href"/>
  </xs:attributeGroup>
  
  <xs:element name="HeMX">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="1" maxOccurs="1" ref="mmlCm:extRef"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
