schema/mmlCa.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--W3C Schema generated by XMLSpy v2007 sp2 (http://www.altova.com)-->
<!--Please add namespace attributes, a targetNamespace attribute and import elements according to your requirements-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified"
	attributeFormDefault="qualified"
	xmlns:mmlRe="http://www.medxml.net/MML/ContentModule/Referral/1.0"
	targetNamespace="http://www.medxml.net/MML/ContentModule/Referral/1.0"
	xmlns:mmlCm="http://www.medxml.net/MML/SharedComponent/Common/1.0"
	xmlns:mmlDp="http://www.medxml.net/MML/SharedComponent/Department/1.0"
	xmlns:mmlFc="http://www.medxml.net/MML/SharedComponent/Facility/1.0"
	xmlns:mmlPi="http://www.medxml.net/MML/ContentModule/PatientInfo/1.0"
	xmlns:mmlPsi="http://www.medxml.net/MML/SharedComponent/PersonalizedInfo/1.0"
	xmlns:mmlSm="http://www.medxml.net/MML/ContentModule/Summary/1.0"
	xmlns:mml="http://www.medxml.net/MML" xmlns:xhtml="http://www.w3.org/1999/xhtml"
	xmlns:xml="http://www.w3.org/XML/1998/namespace">
	<xs:import namespace="http://www.medxml.net/MML" schemaLocation="mml.xsd"/>
	<xs:import namespace="http://www.medxml.net/MML/SharedComponent/Common/1.0"
		schemaLocation="mmlCm.xsd"/>
	<xs:import namespace="http://www.medxml.net/MML/SharedComponent/Department/1.0"
		schemaLocation="mmlDp.xsd"/>
	<xs:import namespace="http://www.medxml.net/MML/SharedComponent/Facility/1.0"
		schemaLocation="mmlFc.xsd"/>
	<xs:import namespace="http://www.medxml.net/MML/ContentModule/PatientInfo/1.0"
		schemaLocation="mmlPi.xsd"/>
	<xs:import namespace="http://www.medxml.net/MML/SharedComponent/PersonalizedInfo/1.0"
		schemaLocation="mmlPsi.xsd"/>
	<xs:import namespace="http://www.medxml.net/MML/ContentModule/Summary/1.0"
		schemaLocation="mmlSm.xsd"/>
	<xs:import namespace="http://www.w3.org/1999/xhtml" schemaLocation="xhtml.xsd"/>
	<xs:import namespace="http://www.w3.org/XML/1998/namespace" schemaLocation="xml.xsd"/>

	<xs:element name="CareModule">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="mmlPi:PatientModule"/>
				<xs:element ref="mmlRe:clinicalDiagnosis" minOccurs="0"/>
				<xs:element ref="mmlRe:pastHistory" minOccurs="0"/>
				<xs:element ref="mmlRe:familyHistory" minOccurs="0"/>
				<xs:element ref="mmlRe:presentIllness"/>
				<xs:element ref="mmlRe:testResults" minOccurs="0"/>
				<xs:element ref="mmlSm:clinicalCourse" minOccurs="0"/>
				<xs:element ref="mmlRe:medication" minOccurs="0"/>
				<xs:element ref="mmlRe:remarks" minOccurs="0"/>
				<xs:element ref="mmlRe:referToFacility"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="title">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="greeting" type="mml:ctNarrativeBlock"/>
	<xs:element name="chiefComplaints" type="mml:ctNarrativeBlock"/>
	<xs:element name="clinicalDiagnosis" type="mml:ctNarrativeBlock"/>
	<xs:element name="pastHistory" type="mml:ctNarrativeBlockWithextRef"/>
	<xs:element name="familyHistory" type="mml:ctNarrativeBlockWithextRef"/>
	<xs:element name="presentIllness" type="mml:ctNarrativeBlockWithextRef"/>
	<xs:element name="testResults" type="mml:ctNarrativeBlockWithextRef"/>
	<xs:element name="medication" type="mml:ctNarrativeBlockWithextRef"/>
	<xs:element name="referPurpose" type="mml:ctNarrativeBlock"/>
	<xs:element name="remarks" type="mml:ctNarrativeBlockWithextRef"/>
	<xs:element name="referToFacility">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="mmlFc:Facility"/>
				<xs:element ref="mmlDp:Department" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="referToPerson">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="mmlPsi:PersonalizedInfo"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="referToUnknownName">
		<xs:complexType mixed="true"/>
	</xs:element>
</xs:schema>
